<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>huoxing31.png</key>
   <dict>
    <key>frame</key>
    <string>{{799,315},{27,21}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,21}}</string>
    <key>sourceSize</key>
    <string>{27,21}</string>
   </dict>
   <key>huo2.png</key>
   <dict>
    <key>frame</key>
    <string>{{896,0},{111,169}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,169}}</string>
    <key>sourceSize</key>
    <string>{111,169}</string>
   </dict>
   <key>huo1.png</key>
   <dict>
    <key>frame</key>
    <string>{{896,171},{109,128}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{109,128}}</string>
    <key>sourceSize</key>
    <string>{109,128}</string>
   </dict>
   <key>shou.png</key>
   <dict>
    <key>frame</key>
    <string>{{624,381},{100,100}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{100,100}}</string>
    <key>sourceSize</key>
    <string>{100,100}</string>
   </dict>
   <key>dangongdaizi1.png</key>
   <dict>
    <key>frame</key>
    <string>{{799,270},{84,43}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{84,43}}</string>
    <key>sourceSize</key>
    <string>{84,43}</string>
   </dict>
   <key>zidan3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{885,301},{111,112}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{111,112}}</string>
    <key>sourceSize</key>
    <string>{111,112}</string>
   </dict>
   <key>zidan2_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{726,381},{97,98}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{97,98}}</string>
    <key>sourceSize</key>
    <string>{97,98}</string>
   </dict>
   <key>zidan1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{799,180},{85,88}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{85,88}}</string>
    <key>sourceSize</key>
    <string>{85,88}</string>
   </dict>
   <key>guai1.png</key>
   <dict>
    <key>frame</key>
    <string>{{624,180},{173,199}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{173,199}}</string>
    <key>sourceSize</key>
    <string>{173,199}</string>
   </dict>
   <key>dangongang1.png</key>
   <dict>
    <key>frame</key>
    <string>{{624,0},{270,178}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{270,178}}</string>
    <key>sourceSize</key>
    <string>{270,178}</string>
   </dict>
   <key>baozhudikuang.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{622,700}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{622,700}}</string>
    <key>sourceSize</key>
    <string>{622,700}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>youxishuoming.png</string>
   <key>textureFileName</key>
   <string>youxishuoming.png</string>
   <key>size</key>
   <string>{1024,1024}</string>
  </dict>
 </dict>
</plist>