<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buyBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,326},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>buyBt_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,185},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>daojuBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{122,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{122,78}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>daojuBt_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{134,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,92}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>jinbitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,190},{142,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{142,35}}</string>
                <key>sourceSize</key>
                <string>{146,39}</string>
            </dict>
            <key>numBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,468},{43,41}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{43,41}}</string>
                <key>sourceSize</key>
                <string>{45,43}</string>
            </dict>
            <key>shengjiBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,430},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>shengjiBt_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{73,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,86}}</string>
                <key>sourceSize</key>
                <string>{77,86}</string>
            </dict>
            <key>shop-bingqiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,414},{64,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,52}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>shop-dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,138},{49,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,45}}</string>
                <key>sourceSize</key>
                <string>{49,45}</string>
            </dict>
            <key>shop-yelvsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,138},{45,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,59}}</string>
                <key>sourceSize</key>
                <string>{45,59}</string>
            </dict>
            <key>shop-zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,273},{67,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,51}}</string>
                <key>sourceSize</key>
                <string>{67,51}</string>
            </dict>
            <key>shucaiBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{122,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{122,78}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>shucaiBt_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,90}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{134,90}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,334},{89,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,51}}</string>
                <key>sourceSize</key>
                <string>{89,51}</string>
            </dict>
            <key>zhuangbeiBt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{122,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{122,78}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
            <key>zhuangbeiBt_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{134,92}}</string>
                <key>sourceSize</key>
                <string>{140,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopUi.png</string>
            <key>size</key>
            <string>{255,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1d1676190c95996dee1465d957ff417$</string>
            <key>textureFileName</key>
            <string>shopUi.png</string>
        </dict>
    </dict>
</plist>
