<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>baozha1.png</key>
   <dict>
    <key>frame</key>
    <string>{{58,82},{21,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,12}}</string>
    <key>sourceSize</key>
    <string>{21,12}</string>
   </dict>
   <key>baozha2.png</key>
   <dict>
    <key>frame</key>
    <string>{{58,66},{23,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{23,14}}</string>
    <key>sourceSize</key>
    <string>{23,14}</string>
   </dict>
   <key>baozha4.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,85},{13,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,12}}</string>
    <key>sourceSize</key>
    <string>{13,12}</string>
   </dict>
   <key>baozha6.png</key>
   <dict>
    <key>frame</key>
    <string>{{36,83},{18,12}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,12}}</string>
    <key>sourceSize</key>
    <string>{18,12}</string>
   </dict>
   <key>baozha7.png</key>
   <dict>
    <key>frame</key>
    <string>{{81,82},{12,10}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{12,10}}</string>
    <key>sourceSize</key>
    <string>{12,10}</string>
   </dict>
   <key>daodanbaozha9.png</key>
   <dict>
    <key>frame</key>
    <string>{{37,61},{19,20}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,20}}</string>
    <key>sourceSize</key>
    <string>{19,20}</string>
   </dict>
   <key>daodanbaozha8.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,37},{22,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{22,25}}</string>
    <key>sourceSize</key>
    <string>{22,25}</string>
   </dict>
   <key>daodanbaozha7.png</key>
   <dict>
    <key>frame</key>
    <string>{{95,64},{19,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,19}}</string>
    <key>sourceSize</key>
    <string>{19,19}</string>
   </dict>
   <key>daodanbaozha6.png</key>
   <dict>
    <key>frame</key>
    <string>{{21,78},{13,14}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{13,14}}</string>
    <key>sourceSize</key>
    <string>{13,14}</string>
   </dict>
   <key>daodanbaozha5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,78},{19,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,17}}</string>
    <key>sourceSize</key>
    <string>{19,17}</string>
   </dict>
   <key>daodanbaozha4.png</key>
   <dict>
    <key>frame</key>
    <string>{{69,37},{24,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,27}}</string>
    <key>sourceSize</key>
    <string>{24,27}</string>
   </dict>
   <key>daodanbaozha3.png</key>
   <dict>
    <key>frame</key>
    <string>{{37,0},{43,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,33}}</string>
    <key>sourceSize</key>
    <string>{43,33}</string>
   </dict>
   <key>daodanbaozha2.png</key>
   <dict>
    <key>frame</key>
    <string>{{82,0},{36,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{36,35}}</string>
    <key>sourceSize</key>
    <string>{36,35}</string>
   </dict>
   <key>daodanbaozha1.png</key>
   <dict>
    <key>frame</key>
    <string>{{37,35},{30,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{30,24}}</string>
    <key>sourceSize</key>
    <string>{30,24}</string>
   </dict>
   <key>daodanbaozha10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{35,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{35,76}}</string>
    <key>sourceSize</key>
    <string>{35,76}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>zhadan_baozha.png</string>
   <key>textureFileName</key>
   <string>zhadan_baozha.png</string>
   <key>size</key>
   <string>{128,128}</string>
  </dict>
 </dict>
</plist>