<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>xiaoguai5_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{45,112},{31,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{31,24}}</string>
    <key>sourceSize</key>
    <string>{31,24}</string>
   </dict>
   <key>xiaoguai5_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,55},{18,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,17}}</string>
    <key>sourceSize</key>
    <string>{18,17}</string>
   </dict>
   <key>xiaoguai5_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{105,74},{18,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{18,17}}</string>
    <key>sourceSize</key>
    <string>{18,17}</string>
   </dict>
   <key>xiaoguai5_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,108},{43,37}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{43,37}}</string>
    <key>sourceSize</key>
    <string>{43,37}</string>
   </dict>
   <key>xiaoguai5_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{69,106}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{69,106}}</string>
    <key>sourceSize</key>
    <string>{69,106}</string>
   </dict>
   <key>xiaoguai5_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{71,0},{44,53}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,53}}</string>
    <key>sourceSize</key>
    <string>{44,53}</string>
   </dict>
   <key>xiaoguai5_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{71,55},{32,55}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,55}}</string>
    <key>sourceSize</key>
    <string>{32,55}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>xiaoguai5.png</string>
   <key>textureFileName</key>
   <string>xiaoguai5.png</string>
   <key>size</key>
   <string>{128,256}</string>
  </dict>
 </dict>
</plist>