<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>xiaoguai1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,68},{63,25}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{63,25}}</string>
    <key>sourceSize</key>
    <string>{63,25}</string>
   </dict>
   <key>xiaoguai1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{65,81},{20,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{20,19}}</string>
    <key>sourceSize</key>
    <string>{20,19}</string>
   </dict>
   <key>xiaoguai1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,95},{19,18}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{19,18}}</string>
    <key>sourceSize</key>
    <string>{19,18}</string>
   </dict>
   <key>xiaoguai1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,0},{45,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{45,24}}</string>
    <key>sourceSize</key>
    <string>{45,24}</string>
   </dict>
   <key>xiaoguai1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{75,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{75,66}}</string>
    <key>sourceSize</key>
    <string>{75,66}</string>
   </dict>
   <key>xiaoguai1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,55},{21,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,22}}</string>
    <key>sourceSize</key>
    <string>{21,22}</string>
   </dict>
   <key>xiaoguai1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{100,79},{21,22}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,22}}</string>
    <key>sourceSize</key>
    <string>{21,22}</string>
   </dict>
   <key>xiaoguai1_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,52},{21,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,27}}</string>
    <key>sourceSize</key>
    <string>{21,27}</string>
   </dict>
   <key>xiaoguai1_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{103,26},{21,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{21,27}}</string>
    <key>sourceSize</key>
    <string>{21,27}</string>
   </dict>
   <key>xiaoguai1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{77,26},{24,24}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{24,24}}</string>
    <key>sourceSize</key>
    <string>{24,24}</string>
   </dict>
   <key>xiaoguai1_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{21,102},{77,27}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{77,27}}</string>
    <key>sourceSize</key>
    <string>{77,27}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>xiaoguai1.png</string>
   <key>textureFileName</key>
   <string>xiaoguai1.png</string>
   <key>size</key>
   <string>{128,256}</string>
  </dict>
 </dict>
</plist>