<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>xiaoguai7_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{189,0},{52,57}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,57}}</string>
    <key>sourceSize</key>
    <string>{52,57}</string>
   </dict>
   <key>xiaoguai7_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,113},{50,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,26}}</string>
    <key>sourceSize</key>
    <string>{50,26}</string>
   </dict>
   <key>xiaoguai7_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,85},{50,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,26}}</string>
    <key>sourceSize</key>
    <string>{50,26}</string>
   </dict>
   <key>xiaoguai7_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,100},{58,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,23}}</string>
    <key>sourceSize</key>
    <string>{58,23}</string>
   </dict>
   <key>xiaoguai7_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,125},{58,23}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,23}}</string>
    <key>sourceSize</key>
    <string>{58,23}</string>
   </dict>
   <key>xiaoguai7_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{189,59},{38,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,64}}</string>
    <key>sourceSize</key>
    <string>{38,64}</string>
   </dict>
   <key>xiaoguai7_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{59,65},{38,64}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{38,64}}</string>
    <key>sourceSize</key>
    <string>{38,64}</string>
   </dict>
   <key>xiaoguai7_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{57,83}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{57,83}}</string>
    <key>sourceSize</key>
    <string>{57,83}</string>
   </dict>
   <key>xiaoguai7_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{59,0},{64,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,63}}</string>
    <key>sourceSize</key>
    <string>{64,63}</string>
   </dict>
   <key>xiaoguai7_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{125,0},{62,63}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{62,63}}</string>
    <key>sourceSize</key>
    <string>{62,63}</string>
   </dict>
   <key>xiaoguai7_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{99,65},{58,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,33}}</string>
    <key>sourceSize</key>
    <string>{58,33}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>xiaoguai7.png</string>
   <key>textureFileName</key>
   <string>xiaoguai7.png</string>
   <key>size</key>
   <string>{256,256}</string>
  </dict>
 </dict>
</plist>