<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>boss1_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{494,86},{16,16}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,16}}</string>
    <key>sourceSize</key>
    <string>{16,16}</string>
   </dict>
   <key>boss1_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{383,119},{51,61}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,61}}</string>
    <key>sourceSize</key>
    <string>{51,61}</string>
   </dict>
   <key>boss1_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{494,104},{16,15}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,15}}</string>
    <key>sourceSize</key>
    <string>{16,15}</string>
   </dict>
   <key>boss1_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,84},{58,66}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{58,66}}</string>
    <key>sourceSize</key>
    <string>{58,66}</string>
   </dict>
   <key>boss1_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{395,37},{68,80}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,80}}</string>
    <key>sourceSize</key>
    <string>{68,80}</string>
   </dict>
   <key>boss1_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{212,122},{51,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,33}}</string>
    <key>sourceSize</key>
    <string>{51,33}</string>
   </dict>
   <key>boss1_13.png</key>
   <dict>
    <key>frame</key>
    <string>{{265,122},{50,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{50,26}}</string>
    <key>sourceSize</key>
    <string>{50,26}</string>
   </dict>
   <key>boss1_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,86},{27,52}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{27,52}}</string>
    <key>sourceSize</key>
    <string>{27,52}</string>
   </dict>
   <key>boss1_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{323,0},{70,82}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{70,82}}</string>
    <key>sourceSize</key>
    <string>{70,82}</string>
   </dict>
   <key>boss1_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{164,122},{46,39}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{46,39}}</string>
    <key>sourceSize</key>
    <string>{46,39}</string>
   </dict>
   <key>boss1_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,124},{48,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,26}}</string>
    <key>sourceSize</key>
    <string>{48,26}</string>
   </dict>
   <key>boss1_14.png</key>
   <dict>
    <key>frame</key>
    <string>{{465,37},{32,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{32,47}}</string>
    <key>sourceSize</key>
    <string>{32,47}</string>
   </dict>
   <key>boss1_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{395,0},{115,35}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{115,35}}</string>
    <key>sourceSize</key>
    <string>{115,35}</string>
   </dict>
   <key>boss1_12.png</key>
   <dict>
    <key>frame</key>
    <string>{{164,0},{157,120}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{157,120}}</string>
    <key>sourceSize</key>
    <string>{157,120}</string>
   </dict>
   <key>boss1_yingzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{162,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,122}}</string>
    <key>sourceSize</key>
    <string>{162,122}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>boss1.png</string>
   <key>textureFileName</key>
   <string>boss1.png</string>
   <key>size</key>
   <string>{512,256}</string>
  </dict>
 </dict>
</plist>