<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>boss3_11.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,0},{213,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{213,146}}</string>
    <key>sourceSize</key>
    <string>{213,146}</string>
   </dict>
   <key>boss3_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{213,146}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{213,146}}</string>
    <key>sourceSize</key>
    <string>{213,146}</string>
   </dict>
   <key>boss3_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{473,92},{16,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,17}}</string>
    <key>sourceSize</key>
    <string>{16,17}</string>
   </dict>
   <key>boss3_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,92},{41,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,45}}</string>
    <key>sourceSize</key>
    <string>{41,45}</string>
   </dict>
   <key>boss3_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{491,92},{16,17}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{16,17}}</string>
    <key>sourceSize</key>
    <string>{16,17}</string>
   </dict>
   <key>boss3_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,139},{41,45}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{41,45}}</string>
    <key>sourceSize</key>
    <string>{41,45}</string>
   </dict>
   <key>boss3_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,231},{64,19}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,19}}</string>
    <key>sourceSize</key>
    <string>{64,19}</string>
   </dict>
   <key>boss3_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{379,186},{113,76}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{113,76}}</string>
    <key>sourceSize</key>
    <string>{113,76}</string>
   </dict>
   <key>boss3_9.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,46},{68,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,44}}</string>
    <key>sourceSize</key>
    <string>{68,44}</string>
   </dict>
   <key>boss3_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{430,0},{68,44}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{68,44}}</string>
    <key>sourceSize</key>
    <string>{68,44}</string>
   </dict>
   <key>boss3_10.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,148},{213,81}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{213,81}}</string>
    <key>sourceSize</key>
    <string>{213,81}</string>
   </dict>
   <key>boss3_yingzi.png</key>
   <dict>
    <key>frame</key>
    <string>{{215,148},{162,122}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{162,122}}</string>
    <key>sourceSize</key>
    <string>{162,122}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>boss3.png</string>
   <key>textureFileName</key>
   <string>boss3.png</string>
   <key>size</key>
   <string>{512,512}</string>
  </dict>
 </dict>
</plist>