<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>xiaoguai6_1.png</key>
   <dict>
    <key>frame</key>
    <string>{{175,51},{52,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{52,33}}</string>
    <key>sourceSize</key>
    <string>{52,33}</string>
   </dict>
   <key>xiaoguai6_5.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,56},{29,29}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{29,29}}</string>
    <key>sourceSize</key>
    <string>{29,29}</string>
   </dict>
   <key>xiaoguai6_2.png</key>
   <dict>
    <key>frame</key>
    <string>{{76,0},{51,54}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{51,54}}</string>
    <key>sourceSize</key>
    <string>{51,54}</string>
   </dict>
   <key>xiaoguai6_6.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,75},{56,26}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{56,26}}</string>
    <key>sourceSize</key>
    <string>{56,26}</string>
   </dict>
   <key>xiaoguai6_7.png</key>
   <dict>
    <key>frame</key>
    <string>{{0,0},{74,73}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{74,73}}</string>
    <key>sourceSize</key>
    <string>{74,73}</string>
   </dict>
   <key>xiaoguai6_3.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,35},{44,47}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{44,47}}</string>
    <key>sourceSize</key>
    <string>{44,47}</string>
   </dict>
   <key>xiaoguai6_4.png</key>
   <dict>
    <key>frame</key>
    <string>{{195,0},{48,49}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{48,49}}</string>
    <key>sourceSize</key>
    <string>{48,49}</string>
   </dict>
   <key>xiaoguai6_8.png</key>
   <dict>
    <key>frame</key>
    <string>{{129,0},{64,33}}</string>
    <key>offset</key>
    <string>{0,0}</string>
    <key>rotated</key>
    <false/>
    <key>sourceColorRect</key>
    <string>{{0,0},{64,33}}</string>
    <key>sourceSize</key>
    <string>{64,33}</string>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>2</integer>
   <key>realTextureFileName</key>
   <string>xiaoguai6.png</string>
   <key>textureFileName</key>
   <string>xiaoguai6.png</string>
   <key>size</key>
   <string>{256,128}</string>
  </dict>
 </dict>
</plist>