<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dangongbang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,690},{216,130}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,35},{216,130}}</string>
                <key>sourceSize</key>
                <string>{270,178}</string>
            </dict>
            <key>dangongbang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{234,164}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{234,164}}</string>
                <key>sourceSize</key>
                <string>{270,178}</string>
            </dict>
            <key>dangongbang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,340},{264,166}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{264,166}}</string>
                <key>sourceSize</key>
                <string>{270,178}</string>
            </dict>
            <key>dangongbang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,168},{264,170}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{264,170}}</string>
                <key>sourceSize</key>
                <string>{270,178}</string>
            </dict>
            <key>dangongdaizi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,731},{84,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>dangongdaizi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,844},{78,41}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{78,41}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>dangongdaizi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,776},{82,43}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{82,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>dangongdaizi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,821},{78,43}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,43}}</string>
                <key>sourceSize</key>
                <string>{84,43}</string>
            </dict>
            <key>daoju-bingdong.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,844},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>daoju-dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,844},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>daoju-yelvsu.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,908},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>daoju-zhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,866},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>jinduguai.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,887},{67,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,64}}</string>
                <key>sourceSize</key>
                <string>{67,64}</string>
            </dict>
            <key>loadingbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,963},{200,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{200,30}}</string>
                <key>sourceSize</key>
                <string>{204,34}</string>
            </dict>
            <key>maohao.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{8,19}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{8,19}}</string>
                <key>sourceSize</key>
                <string>{22,35}</string>
            </dict>
            <key>money.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,941},{60,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,67}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>zhalan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{282,131}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{282,131}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan1_jie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,727},{282,115}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,38},{282,115}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan1_jie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,731},{268,87}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,64},{268,87}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan1_jie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,605},{254,83}}</string>
                <key>offset</key>
                <string>{7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,65},{254,83}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,594},{282,131}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{282,131}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan2_jie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,690},{282,127}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,37},{282,127}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan2_jie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,731},{268,101}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,58},{268,101}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan2_jie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,508},{254,95}}</string>
                <key>offset</key>
                <string>{7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,60},{254,95}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan3.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,139},{282,161}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{282,161}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan3_jie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,302},{282,147}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{282,147}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan3_jie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{282,141}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{282,141}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan3_jie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{288,135}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{288,135}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{282,161}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{282,161}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan4_jie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{282,151}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{282,151}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan4_jie2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,451},{282,141}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{282,141}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
            <key>zhalan4_jie3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,135}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{288,135}}</string>
                <key>sourceSize</key>
                <string>{306,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-daoju.png</string>
            <key>size</key>
            <string>{836,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3752707e05d2e864625766bcb928a53$</string>
            <key>textureFileName</key>
            <string>game-daoju.png</string>
        </dict>
    </dict>
</plist>
